[Unit]
Description=PHP Server in /home/ryan/zfs-rent
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/php -S 127.0.0.1:1101 -n\
         -t /home/ryan/zfs-rent/www\
         -d extension=pgsql\
         -d extension=json

[Install]
WantedBy=multi-user.target
