[Unit]
Description=Redbird HTTPS+LetsEncrypt proxy
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/home/ryan/zfs-rent/redbird/app.js

[Install]
WantedBy=multi-user.target
