body {
    font-family: monospace;
    margin: auto;
    padding: 1em;
    max-width: 800px;
}

table, td, th {
    font-size: 110%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    background: beige;
}

th {
    background: lightblue;
}

h2 {
    text-decoration: underline;
}

section {
    padding: 10px;
    margin-left: 2em;
}

h1>a {
    color: black;
}

img {
    margin: 1em;
    max-width: 700px;
    border: 1px solid black;
}

label {
    margin: 1em;
    display: block;
}

code {
    color: white;
    background: #333;
    padding: 0 1px;
}
code::before, code::after {content: '`'}

iframe {
    width: 100%;
    border: none;
}
